aws_region                  = "us-east-1"
name_prefix                 = "openedx-prod"
vpc_cidr                    = "10.10.0.0/16"
az_count                    = 3
public_subnet_cidrs         = ["10.10.0.0/24", "10.10.1.0/24", "10.10.2.0/24"]
private_subnet_cidrs        = ["10.10.10.0/24", "10.10.11.0/24", "10.10.12.0/24"]
cluster_version             = "1.30"
node_instance_types         = ["m6i.large"]
node_desired_size           = 3
node_min_size               = 3
node_max_size               = 10
mysql_instance_class        = "db.m6g.large"
mysql_db_name               = "openedx"
mysql_username              = "openedx_admin"
mysql_password              = "CHANGE_ME"
mongo_ami_id                = "ami-xxxxxxxx"
mongo_instance_type         = "m6i.large"
opensearch_instance_type    = "m6g.large.search"
elasticsearch_ami_id        = "ami-xxxxxxxx"
elasticsearch_instance_type = "t3.micro"
redis_node_type             = "cache.m6g.large"
lms_domain                  = "lms.alnafi-openedx.ddnsfree.com"
ingress_alb_dns_name        = "k8s-ingress-xxxxxxxx.us-east-1.elb.amazonaws.com"
acm_certificate_arn_us_east_1 = "arn:aws:acm:us-east-1:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
enable_cloudfront           = false
enable_opensearch           = false
