apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openedx-uploads-pvc
  namespace: openedx
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3
  resources:
    requests:
      storage: 100Gi
